<%- include('./partials/headers.ejs')%>
<main>
    <div class="top-section">
        <div class="introduction">
            <div class="welcome">
                <h1>Welcome!</h1><br>
                <p>Hello, my name is Min.</p>
                <p>I am a student at University of North Carolina at Charlotte.</p>
                <p>Computer Science Major</p><br>
                <p id="contactbtn">Contact</p>
            </div>
            <div class="contact-link">
                <div class="social">
                    <a href="https://www.linkedin.com/in/maung17/"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                    <a href="https://github.com/minnna11"><i class="fa fa-github" style="font-size:36px"></i></a>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="/image/zeni.jpeg">
        </div>
    </div>
    <div class="projects">
    
        <div class="box">
            <h1 id="project-list">Project 1</h1>
            <div class="box-description">
                
                <div class="description">
                    <h1>Tools</h1>
                    <p>JavaScript</p>
                    <p>CSS & HTML</p>
                    <p>Tailwind CSS</p>
                    <p>Firebase</p>
                    <div id="projectbtn">
                        <p>Asia Cafe</p>
                    </div>
                </div>
                <div class="project-image">
                    <img src="/image/cafe.png">
                </div>
            </div>
           
        </div>
        <div class="box">
            <h1 id="project-list">Project 2</h1>
            <div class="box-description">
                <div class="description">
                    <h1>Tools</h1>
                    <p>JavaScript</p>
                    <p>CSS & HTML</p>
                    <p>React</p>
                    <p>Firebase</p>
                    <div id="projectbtn">
                        <p>Amazon Clone</p>
                    </div>
                </div>
                <div class="project-image">
                    <img src="/image/amazon.png">
                </div>
            </div>
            
        </div>
        <div class="box">
            <h1 id="project-list">Project 3</h1>
            <div class="box-description">
                <div class="description">
                    <h1>Tools</h1>
                    <p>JavaScript</p>
                    <p>CSS & HTML</p>
                    <p>React</p>
                    <p>Firebase</p>
                    <div id="projectbtn">
                        <p>Portfolio</p>
                    </div>
                </div>
                <div class="project-image">
                    <img src="/image/portfolio.png">
                </div>
            </div>
           
        </div>
        <div class="box">
            <h1 id="project-list">Project 4</h1>
            <div class="box-description">
                <div class="description">
                    <h1>Tools</h1>
                    <p>Express.js</p>
                    <p>CSS & HTML</p>
                    <p>Firebase</p>
                    <div id="projectbtn">
                        <p>2Meet</p>
                    </div>
                </div>
                <div class="project-image">
                    <img src="/image/cafe.png">
                </div>
            </div>
          
        </div>
    </div>
</main>
<%- include('./partials/footer.ejs')%>