<%- include('./partials/headers.ejs')%>
<main>
    <div class="top-section">
        <div class="introduction">
            <div class="welcome">
                <h1>Welcome!</h1><br>
                <p>Hello, my name is Min.</p>
                <p>I am a student at University of North Carolina at Charlotte.</p>
                <p>Computer Science Major</p><br>
                <a href="/contacts"><p id="contactbtn">Contact</p></a>
            </div>
            <div class="contact-link">
                <div class="social">
                    <a href="https://www.linkedin.com/in/maung17/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                    <a href="https://github.com/minnna11" target="_blank"><i class="fa fa-github" style="font-size:36px"></i></a>
                </div>
            </div>
        </div>
        <div class="profile">
            <img src="/image/profile.png">
        </div>
    </div>
    <div class="projects">
    
        <div class="box">
            <h1 id="project-list">Project 1</h1>
            <div class="box-description">
                
                <div class="description">
                    <h1>Tools</h1>
                    <p>JavaScript</p>
                    <p>CSS & HTML</p>
                    <p>Tailwind CSS</p>
                    <p>Firebase</p>
                    <div id="projectbtn">
                        <a href="https://asia-cafe-b97aa.web.app/ " target="_blank"><p>Asia Cafe</p></a>
                    </div>
                </div>
                <div class="project-image">
                    <img src="/image/cafe.png">
                </div>
            </div>
           
        </div>
        <div class="box">
            <h1 id="project-list">Project 2</h1>
            <div class="box-description">
                <div class="description">
                    <h1>Tools</h1>
                    <p>JavaScript</p>
                    <p>CSS & HTML</p>
                    <p>React</p>
                    <p>Firebase</p>
                    <div id="projectbtn">
                        <a href="https://clone-d25b7.web.app/" target="_blank"><p>Amazon Clone</p></a>
                    </div>
                </div>
                <div class="project-image">
                    <img src="/image/amazon.png">
                </div>
            </div>
            
        </div>
        <div class="box">
            <h1 id="project-list">Project 3</h1>
            <div class="box-description">
                <div class="description">
                    <h1>Tools</h1>
                    <p>JavaScript</p>
                    <p>CSS & HTML</p>
                    <p>React</p>
                    <p>Firebase</p>
                    <div id="projectbtn">
                        <a href="https://project-portfolio-d5976.web.app/" target="_blank"><p>Portfolio</p></a>
                    </div>
                </div>
                <div class="project-image">
                    <img src="/image/portfolio.png">
                </div>
            </div>
           
        </div>
        <div class="box">
            <h1 id="project-list">Project 4</h1>
            <div class="box-description">
                <div class="description">
                    <h1>Tools</h1>
                    <p>Express.js</p>
                    <p>CSS & HTML</p>
                    <p>Firebase</p>
                    <p>*not deployed yet*</p>
                    <div id="projectbtn">
                        <p>2Meet</p>
                    </div>
                </div>
                <div class="project-image">
                    <img src="/image/2meet.png">
                </div>
            </div>
          
        </div>
    </div>
</main>
<%- include('./partials/footer.ejs')%>