<%- include('../partials/headers.ejs')%>

<div class="top-section">
    <div class="introduction-about">
        <div class="about-top">
            <h1>Hello!</h1><br>
            <p>my name is Min!</p>
            <p>I am a student at University of North Carolina at Charlotte majoring in Computer Science</p>
            <p>Class of 2022, graduating in Decemeber.</p><br>
            <h1>Goal</h1><br>
            <p>My goal is to obtain a part time or a contract position in Web Development.</p><br>
        </div>
        <a href="/contacts"><p id="contactbtn">Contact</p></a>
      
        <div class="contact-link">
            <div class="social">
                <a href="https://www.linkedin.com/in/maung17/"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                <a href="https://github.com/minnna11"><i class="fa fa-github" style="font-size:36px"></i></a>
            </div>
        </div>
    </div>
    <div class="profile">
        <img src="/image/zeni.jpeg">
    </div>
</div>

<%- include('../partials/footer.ejs')%>